#canvas {
    margin: 0 auto;
    display: block;
    text-align: center;
    background: white;
    border: 15px solid #404040;
    border-radius: 50px;
}

div#page {
	display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    grid-gap: 1em;
}

div#tutorial {
	margin: auto;
	width: 75%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

body {
	background-image: url('images/background.jpg');
	background-size: cover;
    
}

header {
    grid-column: 1 / span 5;
}

#can_div {
    grid-column: 1 / span 3;
}

#hints {
	font-family: 'Piazzolla', serif;
    grid-column: 4 / span 2;
}

#button {
    grid-column: 1 /span 5;
}




h1 {
    text-align: center;
	font-size: 62px;
    font-family: 'Piazzolla', serif;
	margin: -5px;
    margin-bottom: 10px;
	color: Crimson;
}

.content {
    position: absolute;
    align-items: left;
}

#can_div {
    float:left;
}

#hints {
    margin: 20%;
    float: right;
	color: Crimson;
}

#roll {
    position: absolute;
    bottom: 20%;
    left: 65%;
    background-color: #262626;
    color: white;
    padding: 15px 60px 15px 60px;
    border: solid 2px white ;
    border-radius: 10px;
    cursor: pointer;
	font-family: 'Piazzolla', serif;
}

#reset {
	display: none;
    position: absolute;
    bottom: 20%;
    left: 65%;
    background-color: #262626;
    color: white;
    padding: 15px 60px 15px 60px;
    border: solid 2px white ;
    border-radius: 10px;
    cursor: pointer;
	font-family: 'Piazzolla', serif;
}

#roll:disabled {
    border: solid 2px white ;
    background-color: black;
    color: white;
    cursor: default;
	font-family: 'Piazzolla', serif;
}

h2 {
	text-align: center;
	font-size: 36px;
    font-family: 'Piazzolla', serif;
	color: white;
}

p {
	text-align: center;
	color: white;
	font-family: 'Piazzolla', serif;
}

h3 {
	text-align: center;
    font-family: 'Piazzolla', serif;
	color: Crimson;
	margin-bottom: -10px;
}

#start {
	background-color: #262626;
    color: white;
    padding: 15px 60px 15px 60px;
    border: solid 2px white ;
    border-radius: 10px;
	font-family: 'Piazzolla', serif;
	margin-top: 15px;
}